  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3435142355202563",
    enable_page_level_ads: true
  });

  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3435142355202563",
    enable_page_level_ads: true
  });
